#project name(appn name-contact app)
* to add a contact detail
* to search the contact detail
* to modify the contact detail
* to delete the contact detail

In [0]:
contacts={} #empty dict is taken
#function to add contact details
def addcontact(name,phone):
    if name not in contacts: #checking for existing contacts
        contacts[name]=phone
        print("successfully created")
    else:
        print("already exists")   
    return
addcontact('anju','942535321')
addcontact('ziya','842535321')
addcontact('tann','462436671')
addcontact('anju','942535321')
contacts

successfully created
successfully created
successfully created
already exists

{'anju': '942535321', 'tann': '462436671', 'ziya': '842535321'}

In [0]:
#searching
def searchcontact(name):
    if name in contacts:
        print( name,":",contacts[name])
    else:    
        print("not exists")
    return        
searchcontact('anju')

anju : 942535321

In [0]:
#deleting
def deletecontact(name):
    if name not in contacts:
        print("contact doesn't exists")
    else:  
        del contacts[name]
        print(name,"contact is deleted")
    return
deletecontact('anju')

anju contact is deleted

In [0]:
contacts

{'tann': '462436671', 'ziya': '842535321'}

In [0]:
#modifying
def modify(name,phone):
    if name not in contacts:
        print("contact doesn't exists")
    else:
         contacts[name]=phone
         print(name,"contact modified")
    return
modify('tann','35235643')

tann contact modified

In [0]:
contacts

{'tann': '35235643', 'ziya': '842535321'}